* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  height: 100vh;
}

.grid-container div {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  display: grid;
  place-items: center;
}
.grid-container div:nth-child(odd) {
  background-color: #f0f0f0;
}
.grid-container div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-container div:nth-child(2) {
  /* grid-column: span 2; */
}
.grid-container div:nth-child(8) {
  grid-column: span 4;
}
